@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
}

.background {
    background-color: #A08986;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.bg-card {
    background-color: #eaddcd;
    padding: 20px 1rem;
    width: 90%;
    border-radius: 10px;
    margin: 5px;
}

.heading {
    font-family: "Roboto";
    font-size: 27px;
    font-weight: bold;
    border-bottom: 1px solid #feb561;
}

.input-box {
    position: relative;
}

.input {
    width: 90%;
    padding: 3px;
    height: 40px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #aaa;
    outline: none;
    background-color: white;
    margin-top: 10px;
}

.copy-icon {
    position: absolute;
    right: 10%;
    top: 40%;
    color: #707070;
    cursor: pointer;
}

.pogress-bar {
    margin-top: 7px;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: white;
}

.pogress-bar#weak:before {
    content: "";
    position: absolute;
    background-color: red;
    width: 20%;
    height: 5px;
    border-radius: inherit;
}

.pogress-bar#medium:before {
    content: "";
    position: absolute;
    background-color: #f1c806;
    width: 50%;
    height: 5px;
    border-radius: inherit;
}

.pogress-bar#strong:before {
    content: "";
    position: absolute;
    background-color: green;
    width: 100%;
    height: 5px;
    border-radius: inherit;
}

.paswword-len {
    display: flex;
    justify-content: space-between;
}

.head-passlen {
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 7px;
    color: #333333;
}

.range-input {
    width: 100%;
    cursor: pointer;
    height: 3px;
}

.settings-align {
    text-align: left;
    padding: 5px;
}

.input-fields {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul li input {
    accent-color: orange;
    cursor: pointer;
}

label {
    cursor: pointer;
}

li {
    width: calc(100%/2);
    margin-bottom: 10px;
    font-family: "Roboto";
    letter-spacing: 1px;
}

.settings-align .button {
    text-align: center;
}

button {
    padding: 10px;
    outline: none;
    background-color: #feb561;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 2px;
}

@media (max-width: 567px) {
    .head-passlen {
        font-size: 18px;
    }

    .heading {
        font-size: 25px;
        font-weight: bold;
    }

    .input-fields {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        width: calc(100%/1);
    }

    button {
        font-size: 15px;
        letter-spacing: 2px;
    }
}